<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>

    <services>
      <service name="RestWebService.IOperatingSystemService">
       
        <!-- Service Endpoints -->
        <endpoint address="" binding="webHttpBinding" contract="RestWebService.IOperatingSystemService" behaviorConfiguration="web" />
       
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="web">
        <webHttp/>
      </behavior>
    </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
